CLOUD_NAME=<your-cloudinary-cloud-name>
API_KEY=<your-cloudinary-api-key>
API_SECRET=<your-cloudinary-api-secret>
CLOUDANT_URL=<your-cloudant-url>
CLOUDANT_DB_NAME=<your-cloudant-db-name>
PORT=<your-port-number>